@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-tweetbox {
    @apply h-5 w-5 cursor-pointer transition-transform duration-150 ease-out hover:scale-150 text-twitter;
  }
}
